body {
  font-size: 16px;
  color: #000;
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;


}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
}
.header-line-left {
  display: flex;
}
.header-line-content {
  padding: 30px 0;
}
.header-text-right a{
  color: #2F2B4380;
  text-decoration: underline;
  }
.logo img {
  max-width: 221px;
}
.input {
  padding: 15px;
  border: 0;
  border-radius: 10px;
  width: 200px;
}
.input-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 45px;
  color: #2f2b4366;
  font-weight: 400;
}
.search {
  position: relative;
  right: 35px;
}
.header-line-right {
  display: flex;
  align-items: center;
}
.header-line-item {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  margin-left: 35px;
}
.header-line-item a {
  text-decoration: none;
  color: #140a32;
  font-weight: 400;
  margin-left: 10px;
}
.phone-img img {
  max-height: 24px;
}
.header-text-right {
  margin-left: 100px;
}
.svg-cont{
 display: none;
}
.title-phone {
  font-size: 20px;
  font-weight: 700;
}
.supTitle-phone {
  font-size: 14px;
  font-weight: 400;
  margin-left: 17px;
  opacity: 0.6;
}

/* header */
.header__content {
  display: flex;
  align-items: center;
}

.header-btn {
  padding: 13px 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: var(--green, #33836e);
  color: #fff;
  font-weight: 600;
  border: 0;
}
.qustion-img {
  margin-right: 10px;
}
.nav ul {
  display: flex;
  list-style: none;
}
.nav-link_header {
  text-decoration: none;
  color: #140a32;
  margin-left: 33px;
  font-weight: 400;
  position: relative;
  top: 10px;
  cursor: pointer;
}
.nav {
  opacity: 0;
  transition: opacity 0.7s ease;
}
.nav.show {
  opacity: 1;
}

.nav-link_header.show {
  opacity: 1;
  transition: all 0.5s ease;
}
.nav-link_header1 {
  text-decoration: none;
  color: #140a32;
  position: relative;
  top: 10px;
}
.img-nav {
  margin-left: 33px;
  margin-right: 5px;
}
.nav-link_header::after {
  position: relative;
  display: inline-block;
  content: '';
  top: 0;
  left: 30px;
  width: 85%;
  height: 1px;
  background-color: #000;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.nav-link_header:hover::after {
  opacity: 1;
}

/* intro */

.intro {
  padding-top: 100px;
}

.intro-content {
  display: flex;
  align-items: center;
}
.intro-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
}
.intro__supTitle {
  font-size: 18px;
  font-weight: 400;
  color: #140a32;
  padding: 30px 0;
}
.textarea {
  border-radius: 10px;
  border: 3px solid var(--green, #33836e);
  background: #fff;
  width: 600px;
  height: 160px;
  padding-top: 10px;
  font-weight: 400;
  max-width: 620px;
}
.btn-intro {
  padding: 16px 35px;
  border-radius: 10px;
  background: var(--green, #33836e);
  color: #fff;
  border: 0;
}
.btn-content__intro {
  margin-top: 20px;
}
.btn-intro.white {
  border-radius: 10px;
  background: #ebf2f0;
  color: #33836e;
  margin-left: 15px;
}
.intro-link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-right: 30px;
  display: block;
  width: 200px;
}
.nav__intro {
  margin-top: 32px;
}

.ul-intro {
  display: flex;
  list-style: none;
}
.ul-intro img {
  height: 24px;
  margin-right: 10px;
}
.intro__two-block {
  display: flex;
}
.circl {
  border-radius: 403.88px;
  background: linear-gradient(18deg, #e2e8e8 10.45%, rgba(235, 242, 240, 0) 85.98%);
  width: 500px;
  height: 403.88px;
  position: relative;
  right: 250px;
}
.intro-logo {
  position: relative;
  left: 150px;
  z-index: 3;
  height: 350px;
  display: inline-block;
}
.profile-menu{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50% -50%);
  overflow-x: hidden;
}
.profile-menu-content{
  width: 500px;
  height: 600px;
  background-color: #fff;
  border-radius: 50px;
  padding: 50px;
}
.button {
  position: relative;
  top: -30px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  

}

.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
  transform: translateX(-50%) rotate(45deg);
}

.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 1.5px;
  background-color: #000000;
  transform: translateX(-50%) rotate(-45deg);
}

.close {
  position: absolute;
  display: flex;
  padding: 0.8rem 1.5rem;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  top: -70%;
  left: 50%;
  width: 3em;
  height: 1.7em;
  font-size: 12px;

  color: rgb(187, 229, 236);
  border: none;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
}
.profile-menu-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-menu-header p{
  font-size: 20px;
}
.container2{
  margin-top: 20px;
}

.container2 p{
  display: inline-block;

}
.profile-menu-input{
  border: 0;
  padding: 10px 10px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  outline: none;
  margin-top: 20px;
}
.profile-menu-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.profile-menu-footer p{
  text-align: center;
  font-size: 18px;
}
.profile-menu-btn{
  padding: 15px 40px;
  margin: 20px 0;
  width: 250px;
  border-radius: 10px;
  border: .0;
  background-color: #017052;
  color: #fff;
  cursor: pointer;
}
.profile-menu-btn.black{
  background-color: #000;
}




/* Variation of work by @mrhyddenn for Radios */


.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;

  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(6, 85, 255, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: var(--accent-color, #5ec1f6);
}

#cbx2:checked + .check svg {
  stroke: var(--accent-color, #5ec1f6);
}

#cbx2:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx2:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}


.hidden{
  display: none;
}

/* supIntro */

.block-circl {
  width: 399px;
  height: 399px;
  border-radius: 399px;
  background: rgba(20, 10, 50, 0.2);
  position: absolute;
  top: 30px;
  left: -100px;
}
.supIntro {
  padding-top: 90px;
}
.supIntro-content {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background: var(--green, #33836e);
  width: 1200px;
  display: flex;
  max-height: 250px;
  align-items: center;
  justify-content: space-between;
}
.supIntro__one-block {
  margin-top: 172px;
}
.supIntro__one-img {
  position: relative;
  top: -59px;
  left: 30px;
  height: 200px;
  z-index: 3;
}

.supIntro__title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.supIntro__text {
  font-size: 42px;
  font-weight: 600;
  color: #fff;
}
.supIntro__tree-text {
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.supIntro__tree-block {
  margin-right: -20px;
}
.gallery__item {
  position: relative;
  right: 35px;
}
.gallery__item2 {
  position: relative;
  right: 60px;
}
.gallery__item3 {
  position: relative;
  right: 85px;
}
.gallery__item4 {
  position: relative;
  right: 105px;
}
.gallery__item5 {
  position: relative;
  right: 135px;
}
.gallery__item6 {
  position: relative;
  right: 155px;
}

/* last__consultation */

.last__consultation {
  padding-top: 60px;
}
.last__consultation-title {
  font-size: 32px;
  font-weight: 700;
}
.swipe-content {
  display: flex;
}

.last__consultation-content {
  padding-top: 30px;
}
.item-last__consultation {
  width: 360px;
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  transition: all 0.8s ease;

  padding: 20px;
  margin-right: 60px;
}
.last__consultation-text {
  max-width: 300px;
}
.button_last__consultation {
  margin-top: 40px;
  padding: 13px 27px;
  border-radius: 10px;
  border: 1px solid var(--green, #33836e);
  color: var(--green, #33836e);
  font-weight: 600;
}
.supTitle_last__consultation {
  opacity: 0.6;
  margin-bottom: 10px;
}
.last__consultation-title__in-item {
  margin-bottom: 16px;
}
.last__consultation-content {
  display: flex;
}
.top-block {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-right: 110px;
}
.top__Content-consultation {
  margin-right: 20px;
}
.last__consultation-top {
  border-radius: 10px;
  background: var(--green, #33836e);
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.last__consultation-top-text {
  margin-left: 10px;
  color: #fff;
  font-weight: 600;
}
.last__consultation-text.a {
  font-size: 15px;
}
.button_last__consultation.bottom {
  margin-top: 115px;
}
.button_last__consultation.top {
  margin-top: 70px;
}

/* nnblock */
.nnblock {
  padding-top: 100px;
}
.nnblock__title {
  font-size: 32px;
  font-weight: 700;
}
.nnblock-text {
  margin-top: 20px;
  font-weight: 400;
  max-width: 1140px;
}

/* Feedback__from-our-customers */

.Feedback-from-our-customers {
  padding-top: 100px;
}

.Feedback__from-our-customers-top {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  border-radius: 14.787px;
}

.central-cont {
  display: flex;
  align-items: center;
}
.one-row__cont {
  display: flex;
  align-items: center;
}
.central-cont b {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 15px;
}
.rating-organization {
  font-size: 14px;
  font-weight: 400;
}
.right-Feedback__from-our-customers {
  border-radius: 14.787px;
  background: var(--gray-background, rgba(10, 10, 11, 0.04));
  padding: 10px;
  height: 63px;
}

/* Feedback__from-our-customers-bottom */

.Feedback__from-our-customers-bottom {
  padding-top: 30px;
}
.item-header {
  display: flex;
  align-items: center;
}
.header-content {
  margin-left: 15px;
}
.name {
  font-size: 18px;
  font-weight: 700;
}
.data {
  opacity: 0.7;
  margin-top: 6px;
}
.star-item {
  margin: 20px 0;
}
.star-img {
  height: 23px;
}
.message-item {
  max-width: 300px;
  font-weight: 400;
}
.item-feedback {
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  padding: 30px;
  width: 365px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.circl-user {
  border-radius: 999px;
  background: #115b82;
  width: 50px;
  height: 50px;
  position: relative;
}
.user-img {
  position: absolute;
  top: 13px;
  left: 13px;
}
.data.qustion {
  margin-bottom: 5px;
}
.question {
  color: var(--green, #33836e);
  font-weight: 600;
  margin-top: 10px;
  display: block;
}
.between-item {
  flex: 1;
}
.item-container {
  display: flex;
}

/* how-this__work */

.how-this__work {
  padding-top: 100px;
}
.how-this-item {
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  padding: 20px;
  position: relative;
  margin-right: 50px;
  margin-top: 40px;
  transform: translateX(-2000px);
  transition: all 0.9s ease;
}
.how-this-item.show {
  transform: translateX(0);
}
.how-this-item-title {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}
.how-this-item-text {
  font-weight: 400;
  margin-bottom: 10px;
}
.number {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #2f2b4326;
}
.how-this-content {
  display: flex;
}

/* bar__info */

.bar__info {
  padding-top: 50px;
}
.bar-info__content {
  border-radius: 20px;
  background: var(--green, #33836e);
  display: flex;
  align-items: center;
  width: 1150px;
  position: relative;
  overflow: hidden;
}
.bar__info-title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}
.bar__info-supTitle {
  color: #fff;
  font-weight: 400;
  padding: 20px 0;
}
.bar__info-img {
  margin-top: 35px;
  height: 250px;
  position: relative;
  top: 5px;
  z-index: 4;
}
.bar__info-twoBlock {
  padding: 25px;
  z-index: 3;
}
.bar__info-flex__content {
  display: flex;
  align-items: center;
}
.bar__info-num-text {
  opacity: 0.6;
  font-size: 12px;
  font-weight: 400;
  width: 200px;
}
.bar__info-oneBlock {
  border-radius: 10px;
  background: var(--base-white, #fff);
  padding: 10px;
  margin-right: 20px;
}
.bar__info-oneBlock-num{
  border-radius: 10px;
  background: var(--base-white, #fff);
  padding: 10px;
}

.bar__info-TwoBlock {
  border-radius: 10px;
  border: 1px solid var(--base-white, #fff);
  margin-left: 30px;
  padding: 20px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.bar__info-link {
  color: #fff;
  opacity: 0.6;
  margin-top: 20px;
}
.bar__info-link a {
  text-decoration: underline;
}
.circl-bar {
  width: 399px;
  height: 399px;
  flex-shrink: 0;
  border-radius: 399px;
  background: rgba(20, 10, 50, 0.2);
  position: absolute;
  top: 0;
  left: -70px;
}

.btn-cont-text {
  transition: 0.2s;
}
.btn-cont-text:hover {
  transform: translateY(-5px);
}
.btn-bar-cont {
  cursor: pointer;
}

/* givInformation */

.givInformation {
  padding-top: 80px;
}
.item-content {
  display: flex;
  align-items: center;
  margin-right: 30px;
  width: 400px;
}
.givInformation-content {
  margin-top: 30px;
  display: flex;
}
.givInformation__title {
  font-size: 30px;
  width: 1000px;
}

.givInformation-item-item {
  margin-left: 20px;
  margin-top: -5px;
}
.givInformation-item-text {
  max-width: 500px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  margin-top: 10px;
}
.givInformation__item {
  margin-right: 80px;
  width: 550px;
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  padding: 30px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.givInformation__item.show {
  opacity: 1;
}

/* lawyers */

.lawyers {
  margin-top: 80px;
}
.lawyersUp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1150px;
}
.right-lawyers {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #ebf2f0;
  padding: 10px 16px;
}
.link_lawyers {
  color: var(--green, #33836e);
  font-weight: 600;
}
.lawyers-content {
  margin-top: 30px;
}
.lawyers-item {
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  padding: 30px;
    width: 273px;
  margin-right: 30px;
  opacity: 0;
  transition: all 0.2s ease;
}
.lawyers-item:nth-child(1) {
  transition: all 0.8s ease 0s;
}
.lawyers-item:nth-child(2) {
  transition: all 0.8s ease 0.2s;
}
.lawyers-item:nth-child(3) {
  transition: all 0.8s ease 0.4s;
}
.lawyers-item:nth-child(4) {
  transition: all 0.8s ease 0.7s;
}
.lawyers-item.show {
  opacity: 1;
}
.lawyers-item:last-child {
  margin-right: 0;
}
.lawyers-item__name {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  width: 210px;
}
.post {
  margin: 10px 0;
}
.opportunities {
  opacity: 0.8;
}
.lawyers-content {
  display: flex;
}
.btn-cont-text{
  color: #fff;
}

/* choose__us */

.choose__us {
  margin-top: 80px;
}
.choose__us-top {
  display: flex;
}
.choose__us-title {
  font-size: 32px;
  font-weight: 700;
}
.choose__us-text {
  margin: 20px 0;
  max-width: 520px;
  font-weight: 400;
}
.green-text {
  color: var(--green, #33836e);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.84px;
}
.choose__us-Item {
  margin-right: 40px;
}
.supGreen-text {
  font-weight: 400;
}
.choose__us-contItem {
  display: flex;
}
.choose__us-bar {
  border-radius: 20px;
  background: var(--green, #33836e);
  max-width: 1250px;
}
.choose__us-bar-left {
  padding: 50px 0 50px 50px;
  color: #fff;
}
.choose__us-bar-num {
  margin-top: 10px;
  font-size: 42px;
  font-weight: 700;
}
.choose__us-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}
.choose__us-link , .choose__us-links {
  font-size: 14px;
  opacity: 0.8;
  color: #fff;
  margin-right: 30px;
}
.choose__us-link.a {
  text-decoration: underline;
  margin-right: 0;
}

/* search__sec */

.search__sec {
  margin-top: 80px;
}
.search__title {
  font-size: 32px;
  font-weight: 700;
}
.search__content {
  margin-top: 40px;
}
.search__item p {
  margin-top: 10px;
  width: 270px;
  font-weight: 400;
  font-size: 17px;
}
.search__content {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
}
.search__content-fot {
  display: flex;
  margin-top: 40px;
}
.search__item-fot p {
  margin-top: 10px;
  width: 270px;
  font-weight: 400;
  font-size: 17px;
}
.search-supConten{
  margin-left: 60px;
}

/* info-companu */

.info-companu {
  margin-top: 80px;
}
.supTitle__info-companu {
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  color: #140a32;
}
.circle-img-companu {
  border-radius: 9999px;
  background: var(--green, #33836e);
  padding: 28px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
}
.info-companu-one__content {
  margin-top: 30px;
}
.item-companu-title {
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0;
}
.item-companu-text {
  max-width: 500px;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-high, rgba(47, 43, 67, 0.7));
}
.img-comp {
  position: relative;
  right: 4px;
}
.info-companu-one__content {
  display: flex;
}
.info-companu-one__item {
  margin-right: 30px;
  max-width: 560px;
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  padding: 30px;
}
.info-companu-two__item {
  margin-right: 20px;
  max-width: 370px;
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  padding: 30px;
}
.port-item {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  padding: 20px;
  max-width: 460px;
  margin-top: 15px;

  transition: all 0.6s ease-out;
}

.port-item.show:nth-child(1) {
  transition: all 0.8s ease 0.2s;
}
.port-item.show:nth-child(2) {
  transition: all 0.8s ease 0.4s;
}
.port-item.show:nth-child(3) {
  transition: all 0.8s ease 0.6s;
}
.port-item.show:nth-child(4) {
  transition: all 0.8s ease 0.8s;
}
.port-item:first-child() {
  margin-top: 0;
}
.text-content-port {
  margin-left: 15px;
}
.portal__content {
  margin-top: 30px;
}
.geolocational {
  margin: 8px 0;
  color: #140a32;
}
.consultationlal {
  opacity: 0.8;
}
.port-btn {
  max-width: 460px;
  border-radius: 10px;
  background: #e0ece9;
  margin-top: 20px;
}
.port-btn-text {
  padding: 16px 0;
  text-align: center;
  color: #33836e;
}
.green-circl {
  width: 12px;
  height: 12px;
  background-color: #12b76a;
  border-radius: 50%;
}
.right-port {
  border-radius: 20px;
  background: var(--green, #33836e);
  margin-left: 40px;
  width: 745px;
  height: 570px;
}
.portal__content {
  display: flex;
}
.right-post-content {
  padding: 30px;
}
.queston-lawyer {
  color: #fff;
  font-size: 32px;
}
.header-port {
  display: flex;
  justify-content: space-between;
}
.header-port-btn {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: var(--base-white, #fff);
  padding: 10px;
}
.header-port-btn-text {
  margin-left: 10px;
}
.post-text {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin-top: 5px;
}
.textarea {
  padding: 16px;

  max-height: 220px;
}
.num {
  border: 0;
  overflow: hidden;
}
.bar__info-flex__content.portal {
  margin-top: 10px;
}

.end-port-btn p {
  padding: 16px 20px;
  color: #fff;
}
.end-port-btn {
  border-radius: 10px;
  background: var(--base-black, #140a32);
  margin-left: 20px;
}
.portal {
  margin-top: 80px;
}
.portal__title{
  font-size: 35px;
}
.port__text-content {
  display: flex;
}
.text-cont1 {
  margin-right: 40px;
}
.port__text-content {
  margin-top: 30px;
  color: #fff;
}
.texTit {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.textTex {
  font-weight: 400;
}


/* material */

.head-mat {
  display: flex;
  justify-content: space-between;
  width: 1150px;
}
.material {
  margin-top: 80px;
}
.mat-cont {
  margin-top: 30px;
}
.mat-text {
  max-width: 300px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 20px;
}
.mat-text2 {
  max-width: 300px;
  font-weight: 400;
  padding: 0 20px;
  font-size: 13px;
}
.ask-title{
  font-size: 32px;
  width: 500px;
}
.question-mat {
  color: #33836e;
  font-weight: 600;
  padding: 10px 20px;
}
.mat-item {
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  width: 385px;
  margin-right: 25px;
  transition: all .6s ease;
}

.mat-img {
  padding: 20px;
}
.mat-cont {
  display: flex;
}

/* ask-me */
.ask-me {
  margin-top: 80px;
}
.supTitle-ask {
  font-weight: 400;
  max-width: 360px;
  padding: 20px 0;
}
.ask-btn {
  padding: 16px 32px;
  border-radius: 10px;
  background: var(--green, #33836e);
  color: #fff;
  border: 0;
  margin-top: 10px;
}
.ask-content {
  display: flex;
}
.ask-text {
  margin-top: 20px;
  font-weight: 400;
  max-width: 750px;
}
.as {
  color: #fff;
}

/* footer */

.footer {
  margin-top: 80px;
  border-top: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  height: 350px;
}
.footer-content {
  margin-top: 50px;
}
.footer-block {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.img-text {
  margin-left: 10px;
}
.email-foot {
  color: #33836e;
}
.el {
  margin-bottom: 20px;
}
.num-foo {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.el2 {
  margin-top: 15px;
  color: #000;
  display: block;
}
.frame-foot {
  margin: 25px 0;
}
.mobail{
    display: none;
}

/* vbcvbc */

.burger {
  width: 10px;
  height: 2px;
  display: none;
  color: #000;
}


.cont {
  display: flex;
}
.search-supContent{
  display: flex;


}

@media (max-width: 440px) {
  html{
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
    width: 440px;
  }

  :root {
    --lp30: 30px;
    --title: 26px;
    --text: 14px;
    --fw700: 700;
    --fw400: 400;
  }
  .burger {
    margin: 0 50px;
    min-width: 30px;
    height: 24px;
    width: 24px;
    display: block;
  }
  .header{
    position: relative;
  }
  .header-drop {
    z-index: 9;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    transition: all .2s step-end;
    min-width: 450px;
    overflow: hidden;
  }
  .header-line-content{
    z-index: 10;
    position: absolute;
  }

  .header-drop ul{
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 155px;
    transform: translate(-50% ,-50%);
  }
  .header-drop ul li a{
    margin-left:0 ;
  }
 
  .header-line-right,
  .input-content,
  .header-btn {
    display: none;
  }
  .logo {
    width: 178px;
    margin-right: 30px;
  }
  .seargh-header {
    height: 25px;
    width: 32px;
  }
  .seargh-header2 {
    height: 30px;
    width: 30px;
    margin-left: 20px;
  }
  .svg-cont {
    display: flex;
    justify-content: flex-end;
  }
  .profile-menu{
    display: block; 
  }
  .profile-menu.hidden{
    display: none;
    
  }
  .profile-menu-content{
    
    width: 400px;
    height: 420px;
  }
  .profile-menu-btn{
    padding: 12px ;
    margin: 10px 0;
  }
  .profile-menu-input{
    width: 275px;
  }

  .intro {
    margin-top: 100px;
    border-top: 2px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
    position: relative;
    width: 580px;
    padding: 0 20px;
  }
  .intro-title {
    font-size: var(--title);
    letter-spacing: -0.78px;
    max-width: 400px;
    line-height: 35px;
    text-align: center;
    padding-left: 30px;
    margin-top: 30px;
  }
  .intro__supTitle {
    font-size: var(--text);
    color: #140a32;
    width: 370px;
    padding-left: 75px;
    font-weight: var(--fw400);
    padding-top: 15px;
  }
  .textarea {
    max-width: 410px;
  
    font-size: 14px;
  }
  .btn-content__intro {
    display: flex;
    flex-direction: column;
    width: 410px;

  }
  .btn-intro.white {
    margin-top: 10px;
    margin-left: 0;
  }
  .nav-link_header::after {
    left: 0;
    width: 100%;
  }
  .nav-link_header{
    margin-left: 0;
  }

  .ul-intro img {
    width: 30px;
  }
  .ul-intro.coll {
    display: flex;
    flex-direction: column;
  }

  .nav__intro {
    max-width: 200px;
  }
  .footer__one-block {
    width: 300px;
  }
  .cont {
    margin-top: 10px;
  }
  .intro-link {
    font-size: 12px;
    width: 100px;
  }
  .intro-logo {
    width: 160px;
    height: 150px;
    margin-left: 60px;
    position: absolute;
    bottom: 0;
  }
  .circl {
    width: 180px;
    height: 150px;
    position: absolute;
    left: 200px;
    bottom: -25px;
    display: block;
  }

  .supIntro__title {
    font-size: 20px;
    min-width: 300px;
  }
  .supIntro-content {
    min-height: 350px;
    max-width: 430px;
    margin: 0 15px;
  }
  .supIntro {
    position: relative;
  }
  .supIntro__two-block {
    position: absolute;
    top: 20px;
    left: 30px;
  }
  .supIntro__text {
    font-size: 35px;
    letter-spacing: 4.3px;
    margin-top: 20px;
  }
  .supIntro__one-img {
    top: 0;
    left: -5px;
  }
  .supIntro__tree-text {
    position: absolute;
    font-size: 15px;
    top: 150px;
    right: 30px;
  }
  .block-circl {
    width: 250px;
    height: 250px;
    top: 190px;
    left: -30px;
  }
  .gallery-block {
    width: 450px;
    position: relative;
    right: 50px;
    top: 30px;
  }
  .gal {
    width: 45px;
    height: 45px;
    margin-left: 10px;
  }
  .last__consultation-title {
    padding-left: 20px;
    font-size: 25px;
  }

  .item-last__consultation {
    margin-left: 10px;
    margin-right: 0;
    padding: 15px;
    width: 450px;
  }
  .last__consultation-title__in-item {
    font-size: 18px;
  }
  .last__consultation-text {
    font-size: 15px;
  }
  .swiper-wrapper {
    margin-right: 60px;
    
  }
  .last__consultation {
    position: relative;
  }
  .last__consultation-top {
    position: absolute;
    left: 0;
    width: 400px;
    margin: 0 5px;
    bottom: -55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* nnblock */

  .nnblock__title {
    font-size: 26px;
  }
  .supTitle_last__consultation {
    font-size: 12px;
  }

  .nnblock {
    margin: 0 10px;
  }
  .nnblock-text {
    font-size: var(--text);
  }

  /* .Feedback-from-our-customers */

  .Feedback-from-our-customers {
    padding-top: 50px;
  }
  .data {
    width: 235px;
  }
  .Feedback-from-our-customers {
    margin: 0 10px;
    position: relative;
  }
  .right-Feedback__from-our-customers {
    position: absolute;
    bottom: -100px;
    width: 400px;
  }
  .one-row__cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rating-organization {
    text-align: center;
  }
  .star-cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item-hidden {
    display: none;
  }

  /* how-this__work */

  .how-this__work {
    margin-top: 40px;
  }

  /* how-this-content */

  .how-this-content {
    flex-direction: column;
  }
  .how-this__work {
    padding: 100px 15px 0;
  }
  .how-this-item {
    width: 400px;
  }

  /* .bar__info */

  .bar__info-img {
    display: none;
  }
  .bar__info-title {
    max-width: 280px;
    font-size: 20px;
  }
  .bar-info__content {
    width: 400px;
  }
  .bar__info-flex__content {
    flex-direction: column;
  }
  .circl-bar {
    width: 300px;
    height: 300px;
    top: -100px;
    left: -100px;
  }
  .bar__info-supTitle {
    padding: 10px 0;
    width: 312px;
    font-size: 12px;
  }
  .bar__info-TwoBlock {
    margin-left: 0;
    width: 350px;
  }
  .bar__info-oneBlock {
    width: 400px;
    margin: 15px 0;
  }
  .bar__info-link {
    font-size: var(--text);
  }
  .bar__info {
    padding: 50px 10px 0;
  }

  /* givInformation */

  .givInformation {
    padding: 50px 10px 0;
  }
  .givInformation__title {
    font-size: 18px;
    text-align: center;
    width: 400px;
  }
  .nnblock-text.givInf {
    text-align: center;
  }
  .givInformation-content {
    flex-direction: column;
    margin-top: 0;
  }

  .givInformation__item.show {
    margin-top: 30px;
    width: 400px;
  }

  /* .lawyers */

  .lawyers-item.show{
    min-width: 380px;
  }
  .lawyers-item.show img{
   margin-left: 90px;
  }
  .lawyers-item__name{
    min-width: 500px;
  }

  .lawyers{
    padding: 0 10px;
    margin-top: 40px;
    position: relative;
  }
  .right-lawyers{
    position: absolute;
    bottom: -60px;
    width: 380px;
    justify-content: center;
    
  }

  /* choose__us */

 
  .choose__us{
    padding: 0 10px;
    
   
  }
  .choose__us-title{
    font-size: 25px;
    width: 440px;
  }
  .choose__us-text{
      width: 400px;
      font-size: 14px;
      margin: 10px 0;
  }
  .green-text{
    font-size: 20px;
  }
  .img-choose.mobail{
    width: 400px;
    height: 200px;
  }
  .desctop{
    display: none;
  }
  .mobail{
    display: block;
  }
  .choose__us-bar-title{
    font-size: 20px;
    width: 300px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .choose__us-bar-num{
    position: absolute;
    font-size: 30px;
    top:40px;
    left: 20px;
    width: 300px;
  }
  .order-title{
    font-size: 20px;
    position: absolute;
    top: 100px;
    left: 20px;
  }
  .choose__us-bar-right{
    margin-top: 100px;
  }
  .choose__us-bar{
    height: 400px;
  }
  .choose__us-bar-left{
    padding: 0;
  }
  .choose__us-link {
    padding-left: 20px;
    font-size: 12px;
    padding-top: 10px;
  }
  .choose__us-links{
    font-size: 12px;
  }

  /* search__sec */

  .search__sec{
    padding: 0 10px;
  }
  .search__content{
   flex-direction: column;
  }

  .search__item h3{
    font-size: 18px;
  }
  .search__item p{
    font-size: 14px;
    width: 230px;
  }
  .search__item-fot p{
    width: 205px;
  }
  .search-supContent{
    padding-top: 30px;
  }
  .search__content-fot{
    margin-top: 0;
    position: relative;
  }
  .search__item-fot.u{
    position: absolute;
    left: 0;
    bottom: -80px;
  }
  .search__item-fot.y{
    margin-left:23px;
  }

  /* info-companu */

  .info-companu{
    padding: 40px 10px 0;
  }
  .search__title{
    font-size: 20px;
  }
  .supTitle__info-companu{
    font-size: var(--text);
    width: 350px;
    color: #140A32;
  }
  .info-companu-one__content{
    flex-direction: column;
    margin-top: 0;
  }
  .info-companu-one__item{
    margin-top: 20px;
  }
  .info-companu-two__item{
    margin-top: 20px;
  }

  /* portal */


  .portal__content{
    flex-direction: column;
  }
  .right-post-content{
    padding: 15px;
  }
  .right-port{
    margin-left: 0;
    margin-top: 20px;
    position: relative;
    width: 450px;
    height: 700px;
  }
  .header-port {
    flex-direction: column;
  }

  .queston-lawyer{
    font-size: 20px;
    margin-top: 60px;
  }
  .header-port-btn{
    position: absolute;
    top: 20px;
    padding: 5px;
  }
  .post-text{
    font-size: var(--text);
  }
  .bar__info-flex__content {
    display: block;
  }
  .left{
    margin-left: 20px;
    width: 300px;
  }
  .bar__info-flex__content{
    margin-top: 0;
  }
  .bar__info-num-text{
    width: 450px;
  }
  .end-port-btn{
    width: 400px;
    margin-left: 0;
  }
  .texTit{
    font-size: 17px;
  }
  .textTex{
    font-size: var(--text);
  }
  /* material */

  .material{
    padding: 0 10px;
  }
  .mat-cont{
    flex-direction: column;
  }
  .mat-item{
    margin-top: 15px;
  }

  /* ask-me */

  .ask-me{
    padding: 30px 10px 0;
  }
  .ask-content{
    flex-direction:column;
  }
  .ask-title{
    font-size: 25px;
  }
  .ask-btn{
    width: 400px;
  }

  /* footer */

  .footer{
    padding: 0 10px;
  }
  .footer-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-block{
    margin-top: 10px;
    margin-bottom: 100px;
  }
  .right-Feedback__from-our-customers.fot{
    top: 280px;
    width: 300px;
  }
  .bar__info-oneBlock-num{
    width: 350px;
    margin-bottom: 20px;
  }
  



  







  .footer , .material ,.choose__us-bottom {
    position: relative;
  }
}
