body {
  font-size: 16px;
  color: #000;
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
}
.header-line-left {
  display: flex;
}
.header-line-content {
  padding: 30px 0;
}
.logo img {
  max-width: 221px;
}
.input-header {
  padding: 15px;
  border: 0;
  border-radius: 10px;
}
.input-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 45px;
  color: #2f2b4366;
  font-weight: 400;
}
.search {
  position: relative;
  right: 35px;
}
.header-line-right {
  display: flex;
  align-items: center;
}
.header-line-item {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  margin-left: 40px;
}
.header-text-right a{
  color: #2F2B4380;
  text-decoration: underline;
  }
.header-line-item a {
  text-decoration: none;
  color: #140a32;
  font-weight: 400;
  margin-left: 10px;
}
.phone-img img {
  max-height: 24px;
}
.header-text-right {
  margin-left: 100px;
}
.svg-cont {
  display: none;
}
.title-phone {
  font-size: 20px;
  font-weight: 700;
  width: 200px;
}
.supTitle-phone {
  font-size: 14px;
  font-weight: 400;
  margin-left: 17px;
  opacity: 0.6;
}

/* header */
.header__content {
  display: flex;
  align-items: center;
}

.header-btn {
  padding: 13px 15px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: var(--green, #33836e);
  color: #fff;
  font-weight: 600;
  border: 0;
}
.qustion-img {
  margin-right: 10px;
}
.nav ul {
  display: flex;
  list-style: none;
}
.nav-link_header {
  text-decoration: none;
  color: #140a32;
  margin-left: 33px;
  font-weight: 400;
  position: relative;
  top: 10px;
  cursor: pointer;
}
.nav-link_header.active::after{
  opacity: 1;
}
.hidden{
  display: none;
}
.profile-menu{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50% -50%);
  overflow-x: hidden;
}
.profile-menu-content{
  width: 500px;
 
  background-color: #fff;
  border-radius: 50px;
  padding: 50px;
}
.button {
  position: relative;
  top: -30px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  

}

.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 1.5px;
  background-color: rgb(0, 0, 0);
  transform: translateX(-50%) rotate(45deg);
}

.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 1.5px;
  background-color: #000000;
  transform: translateX(-50%) rotate(-45deg);
}

.close {
  position: absolute;
  display: flex;
  padding: 0.8rem 1.5rem;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  top: -70%;
  left: 50%;
  width: 3em;
  height: 1.7em;
  font-size: 12px;

  color: rgb(187, 229, 236);
  border: none;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
}
.profile-menu-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-menu-header p{
  font-size: 20px;
}
.container2{
  margin-top: 20px;
}

.container2 p{
  display: inline-block;

}
.profile-menu-input{
  border: 0;
  padding: 10px 10px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  outline: none;
  margin-top: 20px;
}
.profile-menu-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.profile-menu-footer p{
  text-align: center;
  font-size: 18px;
}
.profile-menu-btn{
  padding: 15px 40px;
  margin: 20px 0;
  width: 250px;
  border-radius: 10px;
  border: .0;
  background-color: #017052;
  color: #fff;
  cursor: pointer;
}
.profile-menu-btn.black{
  background-color: #000;
}




/* Variation of work by @mrhyddenn for Radios */


.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;

  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(6, 85, 255, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: var(--accent-color, #5ec1f6);
}

#cbx2:checked + .check svg {
  stroke: var(--accent-color, #5ec1f6);
}

#cbx2:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx2:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
.hidden{
  display: none;
}


.nav-link_header1 {
  text-decoration: none;
  color: #140a32;
  position: relative;
  top: 10px;
}
.img-nav {
  margin-left: 33px;
  margin-right: 5px;
}
.nav-link_header::after {
  position: relative;
  display: inline-block;
  content: '';
  top: 0;
  left: 30px;
  width: 85%;
  height: 1px;
  background-color: #000;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.nav-link_header:hover::after {
  opacity: 1;
}
.burger {
  width: 10px;
  height: 2px;
  display: none;
  color: #000;
}
.input {
  width: 400px;
}
.header-line-item__text1 {
  width: 130px;
}

/* intro */

.intro {
  margin-top: 40px;
}
.first-text {
  opacity: 0.5;
}
.intro-bar {
  margin-top: 20px;
  border-radius: 20px;
  background: var(--green, #33836e);
  padding: 30px;
  color: #fff;
  width: 700px;
  height: 600px;
}
.intro-bar-title {
  font-size: 30px;
  font-weight: 700;
}

.intro-twoBlock,
.oneBlock {
  display: flex;
  flex-direction: column;
}
.input {
  padding: 10px 20px;
  margin: 15px 0;
  width: 600px;
  border-radius: 10px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
}
.intro-bar-text {
  margin: 15px 0;
  width: 570px;
}
.theme-survey {
  font-size: 18px;
  font-weight: 700;
}
.textarea {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  width: 600px;
  margin: 15px 0;
}
.oneBlock-num-input {
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  background: #fff;
  width: 290px;
}
.oneBlock-num {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.input-cont {
  display: flex;
}
.oneBlock {
  margin-right: 20px;
}
.incontainer {
  display: flex;
  flex-direction: column;
}
.intro-bar-footer {
  display: flex;
  margin-top: 30px;
}
.intro-barBtn {
  padding: 16px 10px;
  border-radius: 10px;
  background: var(--base-black, #140a32);
  color: #fff;
  margin-right: 30px;
}
.intro-barBtn p {
  width: 100px;
}
.intro-bar-footer-text a {
  color: #fff;
  text-decoration: underline;
}
.intro-bar-content{
  display: flex;
}
.intro-bar_const{
  margin-left: 60px;
  
}
.intro-bar_const-title{
  font-size: 24px;
}
.intro-bar_const{
  width: 600px;
}



.last__consultation {
  padding-top: 60px;
}
.last__consultation-title {
  font-size: 32px;
  font-weight: 700;
}
.swipe-content {
  display: flex;
}


.item-last__consultation {
  width: 360px;
  height: 250px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  transition: all 0.8s ease;


  padding: 20px;
  margin-right: 60px;
}
.last__consultation-text {
  max-width: 300px;
}
.button_last__consultation {

  padding: 13px 27px;
  border-radius: 10px;
  border: 1px solid var(--green, #33836e);
  color: var(--green, #33836e);
  font-weight: 600;

}
.supTitle_last__consultation {
  opacity: 0.6;
  margin-bottom: 10px;
}
.last__consultation-title__in-item {
  margin-bottom: 16px;
}
.last__consultation-content {
  display: flex;
}
.top-block {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-right: 110px;
}
.top__Content-consultation {
  margin-right: 20px;
}
.last__consultation-top {
  border-radius: 10px;
  background: var(--green, #33836e);
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.last__consultation-top-text {
  margin-left: 10px;
  color: #fff;
  font-weight: 600;
}
.last__consultation-text.a {
  font-size: 15px;
}
.button_last__consultation.bottom {
  margin-top: 115px;
}
.button_last__consultation.top {
  margin-top: 30px;
}
.head-lat-const{
  margin-top: 30px;
  padding: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  width: 360px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.doot-text{
  margin-top: 30px;
}

.doot-text-text{
  margin-top: 15px;
}



.how-this__work {
  padding-top: 100px;
}
.how-this-item {
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  padding: 20px;
  position: relative;
  margin-right: 50px;
  margin-top: 40px;


}
.how-this-item.show {
  transform: translateX(0);
}
.how-this-item-title {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}
.how-this-item-text {
  font-weight: 400;
  margin-bottom: 10px;
}
.number {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #2f2b4326;
}
.how-this-content {
  display: flex;
}

/* bar__info */

.bar__info {
  padding-top: 50px;
}
.bar-info__content {
  border-radius: 20px;
  background: var(--green, #33836e);
  display: flex;
  align-items: center;
  width: 1150px;
  position: relative;
  overflow: hidden;
}
.bar__info-title {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}
.bar__info-supTitle {
  color: #fff;
  font-weight: 400;
  padding: 20px 0;
}
.bar__info-img {
  margin-top: 35px;
  height: 250px;
  position: relative;
  top: 5px;
  z-index: 4;
}
.bar__info-twoBlock {
  padding: 25px;
  z-index: 3;
}
.bar__info-flex__content {
  display: flex;
  align-items: center;
}
.bar__info-num-text {
  opacity: 0.6;
  font-size: 12px;
  font-weight: 400;
  width: 200px;
}
.bar__info-oneBlock {
  border-radius: 10px;
  background: var(--base-white, #fff);
  padding: 10px;
}
.bar__info-oneBlock-num{
  border-radius: 10px;
  background: var(--base-white, #fff);
  padding: 10px;
}

.bar__info-TwoBlock {
  border-radius: 10px;
  border: 1px solid var(--base-white, #fff);
  margin-left: 30px;
  padding: 20px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.bar__info-link {
  color: #fff;
  opacity: 0.6;
  margin-top: 20px;
}
.bar__info-link a {
  text-decoration: underline;
}
.circl-bar {
  width: 399px;
  height: 399px;
  flex-shrink: 0;
  border-radius: 399px;
  background: rgba(20, 10, 50, 0.2);
  position: absolute;
  top: 0;
  left: -70px;
}

.btn-cont-text {
  transition: 0.2s;
  color: #fff;
}
.btn-cont-text:hover {
  transform: translateY(-5px);
}
.btn-bar-cont {
  cursor: pointer;
}

.nnblock__title{
  font-size: 26px;
}
.question{
  color: #33836E;
}



.info-companu {
  margin-top: 80px;
}
.supTitle__info-companu {
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  color: #140a32;
}
.circle-img-companu {
  border-radius: 9999px;
  background: var(--green, #33836e);
  padding: 28px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
}
.info-companu-one__content {
  margin-top: 30px;
}
.item-companu-title {
  font-size: 22px;
  font-weight: 600;
  margin: 20px 0;
}
.item-companu-text {
  max-width: 500px;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-high, rgba(47, 43, 67, 0.7));
}
.img-comp {
  position: relative;
  right: 4px;
}
.info-companu-one__content {
  display: flex;
}
.info-companu-one__item {
  margin-right: 30px;
  max-width: 560px;
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  padding: 30px;
}
.info-companu-two__item {
  margin-right: 30px;
  max-width: 560px;
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  padding: 30px;
}



.givInformation {
  padding-top: 80px;
}
.item-content {
  display: flex;
  align-items: center;
  margin-right: 30px;
  width: 400px;
}
.givInformation-content {
  margin-top: 30px;
  display: flex;
}
.givInformation__title {
  font-size: 30px;
  width: 1000px;
}

.givInformation-item-item {
  margin-left: 20px;
  margin-top: -5px;
}
.givInformation-item-text {
  max-width: 500px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.9;
  margin-top: 10px;
}
.givInformation__item {
  margin-right: 80px;
  width: 550px;
  border-radius: 20px;
  border: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  padding: 30px;

  transition: opacity 0.5s ease-in-out;
}
.givInformation__item.show {
  opacity: 1;
}
.givInformation-text{
  width: 1120px;
  margin-top: 15px;
}
.givInformation__item:last-child{
  width: 1520px;
  font-size: 17px;
}

.givInformation-item-text2{

  font-weight: 400;
  opacity: 0.9;
  margin-top: 10px;
}



.footer {
  margin-top: 80px;
  border-top: 1px solid var(--gray-borders, rgba(47, 43, 67, 0.15));
  height: 350px;
}
.footer-content {
  margin-top: 50px;
}
.footer-block {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.img-text {
  margin-left: 10px;
}
.email-foot {
  color: #33836e;
}
.el {
  margin-bottom: 20px;
}
.num-foo {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.el2 {
  margin-top: 15px;
  display: block;
  color: #000;
}
.frame-foot {
  margin: 25px 0;
}
.mobail{
    display: none;
}

/* vbcvbc */

.one-row__cont {
  display: flex;
  align-items: center;
}
.central-cont {
  display: flex;
  align-items: center;
}

@media(max-width:440px){
  html{
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
    width: 440px;
  }
  

  :root {
    --lp30: 30px;
    --title: 26px;
    --text: 14px;
    --fw700: 700;
    --fw400: 400;
  }
  .burger {
    margin: 0 50px;
    min-width: 30px;
    height: 24px;
    width: 24px;
    display: block;
  }
  .header{
    position: relative;
  }
  .header-drop {
    z-index: 9;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    transition: all .2s step-end;
    min-width: 450px;
  }
  .header-line-content{
    z-index: 10;
    position: absolute;
  }

  .header-drop ul{
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 155px;
    transform: translate(-50% ,-50%);
  }
  .nav-link_header::after {
    left: 0;
    width: 100%;
  }
  .nav-link_header{
    margin-left: 0;
  }
  .header-drop ul li a{
    margin-left:0 ;
  }
  .header-line-right,
  .input-content,
  .header-btn {
    display: none;
  }
  .logo {
    width: 178px;
    margin-right: 30px;
  }
  .seargh-header {
    height: 25px;
    width: 32px;
  }
  .seargh-header2 {
    height: 30px;
    width: 30px;
    margin-left: 20px;
  }
  .svg-cont {
    display: flex;
    justify-content: flex-end;
  }
  .item-hidden {
    display: none;
  }
  .intro{
    margin-top:100px;
  }
  .container{
    padding: 0 10px;
  }
  .nav-link_header.active::after{
    opacity: 0;
  }
  .intro-bar{
    width: 400px;
    height: 830px;
  }
  .intro-bar-content{
    flex-direction: column;
  }
  .item-container{
    display: flex;
  }
  .item-last__consultation{
    margin-right: 10px;
  }
  .intro-bar-title{
    font-size: 24px;
  }
  .intro-bar-text{
   width: 330px;
   font-size: var(--text);
  }
  .input ,.textarea{
    width: 315px;
  }
  .textarea{
    height: 130px;
  }
  .input-cont{
    flex-direction: column;
  }
  .oneBlock-num-input{
    width: 315px;
  }
  .oneBlock-num{
    margin-top: 15px; 
  }
  .intro-barBtn p{
    width: 315px;
  }
  .intro-barBtn{
    padding: 0;
    height: 50px;
  }
  .intro-bar-footer{
    flex-direction: column;
  }
  .intro-bar-footer-text{
    margin-top: 15px;
  }
  .intro-bar_const{
   margin-left: 0;
  }
  .how-this__work{
    padding-top: 30px;
  }
  .how-this-content{
    flex-direction: column;
  }
  .how-this-item{
    margin-top: 10px;
  }

 

  /* how-this-content */

  .how-this-content {
    flex-direction: column;
  }
  
  .how-this-item {
    width: 400px;
  }

  /* .bar__info */

  .bar__info-img {
    display: none;
  }
  .bar__info-title {
    max-width: 280px;
    font-size: 20px;
  }
  .bar-info__content {
    width: 400px;
  }
  .bar__info-flex__content {
    flex-direction: column;
    position: relative;
  }
  .circl-bar {
    width: 300px;
    height: 300px;
    top: -100px;
    left: -100px;
  }
  .bar__info-supTitle {
    padding: 10px 0;
    width: 312px;
    font-size: 12px;
  }
  .bar__info-TwoBlock {
    width: 300px;
    margin-left: -47px;
    margin-top: 70px;
  }
 
  .bar__info-link {
    font-size: var(--text);
  }
  .bar__info-oneBlock-num{
    width: 300px;
    position: absolute;
    left: 0;
  }
  .info-companu{
    margin-top: 30px;
  }
  .info-companu-one__content{
    flex-direction: column;
    margin: 0;
  }
  .info-companu-one__item, .info-companu-two__item{
    margin-top: 20px;
  }
  .givInformation{
    padding-top: 30px;
  }
  .givInformation__title{
    font-size: 23px;
    width: 350px;
  }
  .givInformation-text{
    width: 350px;
    font-size: var(--text);
  }
  .givInformation-content{
    flex-direction: column;
    margin-top: 0;
  }


  .givInformation-item-text2{
    font-size: var(--text);
  }
  .givInformation__item ,.givInformation__item:last-child{
    width: 350px;
    margin-top: 15PX;
  }

  
  .footer{
    padding: 0 10px;
    position: relative;
  }
  .footer-content{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-block{
    margin-top: 10px;
    margin-bottom: 100px;
  }
  .right-Feedback__from-our-customers.fot{
    top: 300px;
    width: 300px;
    position: absolute;
  }
  .bar__info-oneBlock-num{
    margin-bottom: 20px;
  }
  .profile-menu{
    display: block; 
  }
  .profile-menu.hidden{
    display: none;
    
  }
  .profile-menu-content{
    
    width: 400px;
    height: 420px;
  }
  .profile-menu-btn{
    padding: 12px ;
    margin: 10px 0;
  }
  .profile-menu-input{
    width: 275px;
  }
 
  
 
  
}












